* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("moon.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  cursor: pointer;
}
span {
  color: #f9004d;
}
nav ul li {
  display: inline-block;
  padding: 5px 35px;
}
nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
nav ul li a:hover {
  color: coral;
  transition: 0.4s;
}
.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.4s;
}
.btn:hover {
  transform: scale(1.3);
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  margin: 20px 0 20px;
  font-size: 75px;
}
h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: plum;
  letter-spacing: 2px;
  font-size: 20px;
}

.newslatter form {
  position: relative;
  width: 350px;
  max-width: 100%;
}
.newslatter form input:first-child {
  display: inline-block;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  border-radius: 30px;
  outline: none;
}
.newslatter form input:last-child {
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f9004d;
  color: white;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  position: absolute;
  top: 6px;
  right: 10px;
}

.about {
  width: 100%;
  padding: 100px;
  background-color: #191919;
}

.about img {
  width: 430px;
  height: auto;
}

.about-text {
  width: 550px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-text h2 {
  color: white;
  font-size: 75px;
  margin-bottom: 20px;
}
.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
}
.about-text p {
  color: #fcfc;
  letter-spacing: 2px;
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background-color: #191919;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.service {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 50px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card {
  height: 360px;
  width: 355px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card span {
  font-size: 50px;
  text-align: center;
  /* margin: 25px 0 */
}
h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 30px;
}

.pra p {
  color: #fcfc;
  font-size: 16px;
  margin-bottom: 25px;
  /* 줄 간격 넓이 */
  line-height: 30px;
}

.card .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.4s;
}

.card .button:hover {
  background-color: #191919;
  border: 2px solid #f9004d;
  cursor: pointer;
}

.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  outline: none;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.4s;
}
.contact-me .button-two:hover {
  background-color: #191919;
  border: 2px solid #f9004d;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  font-size: 15px;
  color: white;
  text-align: center;
}
.social {
  display: flex;
}
.social a {
  text-decoration: none;
  transition: 0.6s;
  margin-top: 30px;
}
.social a span {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9004d;
  border-radius: 50%;
  margin: 10px 25px;
  color: white;
}
.social a:hover {
  transform: scale(1.3);
}

footer h6.not {
  color: white;
  margin-top: 30px;
}
